<% if @talk_rooms_of_teammate != [] %>
    <% @talk_rooms_of_teammate.each do |talk_room_of_teammate| %>
        <p><%= link_to "#{Team.find_by(id: talk_room_of_teammate.team_id).name}", "/room/#{talk_room_of_teammate.id}" %></p>
    <% end %>
    <% @talk_rooms_of_applyer_captain.each do |talk_room_of_applyer_captain| %>
        <p><%= link_to "#{Team.find_by(id: talk_room_of_applyer_captain.receiver_team_id).name}", "/room/#{talk_room_of_applyer_captain.id}" %></p>
    <% end %>
    <% @talk_rooms_of_receiver_captain.each do |talk_room_of_receiver_captain| %>
        <p><%= link_to "#{Team.find_by(id: talk_room_of_receiver_captain.applyer_team_id).name}", "/room/#{talk_room_of_receiver_captain.id}" %></p>
    <% end %>
<% else %>
    <h3>not exiting</h3>
<% end %>