<ul>
    <li>みため</li>
    <li>対戦履歴</li>
    <li>チームディティール</li>
    <li>ユーザーディティール</li>
    <li>個人利用</li>
    <li>参考スケジュール</li>
    <li>あなたへのおすすめ</li>
    <li>チームパワー</li>
    <li>チームメイト表示</li>
    <li>通知</li>
    <li>チーム解放度合</li>
    <li>scheduleformをform_withに</li>
    <li></li>
</ul>
