/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 ul, li {
    list-style-type: none;
    padding: 0px;
  }
 
  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: red;
  }
 
  .main {
   margin: 0px 250px;
  }

  .header-logo {
    display: inline-block;
  }
  
  .header-logo a {
    margin-left: 250px;
    color: darkgreen;
    font-size: 40px;
  }

  .header-menu {
    float: right;
    margin-right: 250px;
  }

  .header-menu li {
    float: left;
    margin-left: 15px;
  }

  .header-bottom {
    margin: 0px;
    height: 40px;
    padding: 0px 250px;
    background-color: green;
  }

  .header-bottom li {
    margin-top: 10px;
    margin-right: 15px;
    float: left;
  }
